body{
    background-color: #ecf0f1;
    
}
.meniu{
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align:center;
    border-bottom: 1px solid #c9cccd;
}

.input_txt{
    border: none;
    box-shadow: none;
    background-color: #b4b4b4;
    color: #232424;
    font-size: 14px;
    padding: 8px 19px;
    height: 30px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 10px;
    
}
.fa{
    float: left;
    width: 70px;
    margin-top: 10px;
    padding: 10px;
    background: #1abc9c;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
.fa:hover {
    background: #0b7dda;
  }

.newfrm{
    height: 40px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1abc9c;
    cursor: pointer;
    display: inline-block;
    margin:0 auto;
    margin-top: 10px;
    font-size: 16px;
}
.newfrm:hover {
    background: #0b7dda;
  }
.account{
    float:right;
    margin-right: 10px;
    margin-top: 5px;
    width: 50px;
}
.submeniu{
    display: block;
    cursor: pointer;
}
.actiuni{
    height: 220px;
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: #1abc9c;
    color:white;
    width: 150px;
}
.profil{
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.profil:hover{
    color: #202020;
}
.youform{
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.youform:hover{
    color: #202020;
}
.logout{
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.logout:hover{
    color: #202020;
}
.despartitor{
  margin-bottom: 20px;
}
.despartitor1{
  margin-top: 20px;
  margin-bottom: 20px;
}
.despartitor2{
    margin-top: 20px;
}

#forum-create {
    width: 100%;
    text-align: center;
    display: none;
    z-index: 9;
}
  
.form{
    margin-bottom: 0px;
    padding: 0px;
    z-index: 9;
}
  
.text-in{
      font-family: 'FredokaOne-Regular', monospace;  
    font-size: 23px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    color: black;
    border-bottom: 3px solid white;
}
.text-inin{
    font-family: 'FredokaOne-Regular', monospace;  
  font-size: 23px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  color: black;
  border-bottom: 3px solid white;
}
  
.div_titlu{
    background: white;
    padding-top: 0%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 0%;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 9;
}
.div_descriere{
    background: white;
    padding-top: 0%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 0%;
    position: absolute;
    top: 520px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    display:block;
    z-index: 9;
}
  
.div_public{
    background: white;
    padding-top: 0%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 0%;
    position: absolute;
    top: 720px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    z-index: 9;
}
.titlu{
      width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 30px;
}
.descriere{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    resize: none;
}
.div.public{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 30px;
}
.div_button{
    background: white;
    padding-top: 10px;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    position: absolute;
    top: 820px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: auto;
    display:block;
    text-align: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    z-index: 9;
}
  
.text-subb{
    width: 80%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10%;
    resize: vertical;
    
}
  
.text-subb {
    background-color: #1abc9c;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 2px 4px;
    opacity: 0.9;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
}
.text-subb:hover{
    background-color: #0b7dda;
}
.iconn{
    position: absolute;
    width: 50px;
    left: 97%;
    top: -30px;
    cursor: pointer;
}
.container {
    position: relative;
    padding-left: 100px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 300px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
} 
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.div_show{
    float: left;
    width: 64%;
    margin-top: 80px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #1abc9c;
    margin: 0 1.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
.pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: #ddd;}

.color{
    width: 5px;
    height: 52px;
    background-color: black;
    float: left;
    margin-right: 3px;
  }
.color_down{
    width: 5px;
    height: 20px;
    transform: rotate(90deg);
    margin-top: 40px;
    float: left;
}
.descp{
    margin-left: 22px;
    font-family: 'Open Sans Bold', sans-serif;
}
.bt_redirect_form{
    border-radius: 6px;
    background-color: #1abc9c;
    padding: 5px;
    border-color: transparent;
    font-size: 15px;
    height: 40px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    cursor: pointer;
}
.bt_redirect_form:hover {
    background: #0b7dda;
  }
.title-show{
    font-family: 'Open Sans Bold', sans-serif;
}

.stats{
    float: right;
    margin-top: 10%;
    margin-right: 3%;
    width: 500px;
    height: 500px;
    background-color: #86EEDA;
    border-radius: 20px;

}